@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



body {
  background: black;
  color: #F5F5F5;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #48CFCB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #229799;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.logo {
  height: auto;
  width: 100px;
}

li:nth-child(even) {
  color: #48CFCB;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.marquee2 {
  display: inline-block;
  animation: marquee 20s linear infinite;
  animation-delay: 10s;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
  display: none;
}
  body {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }

  body::-webkit-scrollbar {
    display: none;
  }
}