@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #48CFCB;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #229799;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.logo {
  width: 100px;
  height: auto;
}

li:nth-child(even) {
  color: #48CFCB;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.marquee2 {
  display: inline-block;
  animation: marquee 20s linear infinite;
  animation-delay: 10s;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}